
-- ======================================================================
-- Created By: UtHV
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrs_ActiveShared]
	@FK_HRDepartmentID int
AS
BEGIN
	SET NOCOUNT ON
	SELECT e.*
	FROM
		[dbo].[MEEmrs] e
	WHERE e.[AAStatus]='Alive'
		AND ( e.FK_HRDepartmentID = @FK_HRDepartmentID)
		AND e.MEEmrID IN (SELECT s.FK_MEEmrID
								FROM [dbo].[MEEmrShareHistories] s 
								WHERE s.[AAStatus]='Alive' 
								AND s.MEEmrShareHistoryActive = 1
								AND (GETDATE() BETWEEN s.MEEmrShareHistoryFromDate AND s.MEEmrShareHistoryToDate)
							)
			
END