
--chay tung dong

ALTER TABLE MEEmrActions ADD [MEEmrActionHttpMethod] varchar(50)

UPDATE MEEmrActions set MEEmrActionHttpMethod = 'GET'

INSERT INTO [dbo].[AAColumnAlias] VALUES (
(SELECT MAX([AAColumnAliasID])+1 FROM [dbo].[AAColumnAlias] )
, 0, '', 'Alive', 'MEEmrActionHttpMethod', N'Phương thức Http', 'MEEmrActions');
GO

