
-- ======================================================================
-- Create By: UtHV
-- Search Emr theo phan quyen
-- ======================================================================

ALTER PROCEDURE [dbo].[MEEmrs_Search]
	@MEEmrNo [varchar](50) ,
	@MEEmrStatus [varchar](50) ,
	@MEEmrFromDate [datetime] ,
	@MEEmrToDate [datetime] ,
	@FK_MEPatientID [int] ,
	@FK_MEEmrTypeID [int] ,
	@FK_HRDepartmentID [int],
	@FK_HREmployeeID [int] 
AS
BEGIN
SET NOCOUNT ON
SELECT
	e.*
FROM
	[dbo].[MEEmrs] e
WHERE
	e.[AAStatus]='Alive'
	AND (@MEEmrNo IS NULL OR e.MEEmrNo LIKE '%' + @MEEmrNo + '%')
	AND (@MEEmrStatus IS NULL OR e.MEEmrStatus = @MEEmrStatus)
	AND (@MEEmrFromDate BETWEEN @MEEmrFromDate AND @MEEmrToDate)
	AND (@FK_MEPatientID IS NULL OR e.FK_MEPatientID = @FK_MEPatientID)
	AND (@FK_MEEmrTypeID IS NULL OR e.FK_MEEmrTypeID = @FK_MEEmrTypeID)
	AND (e.FK_HRDepartmentID = @FK_HRDepartmentID -- khoa dang quan ly
		--hay khoa dc chia se
		OR (e.MEEmrID IN (SELECT s.FK_MEEmrID
							FROM [dbo].[MEEmrShareHistories] s 
							WHERE s.[AAStatus]='Alive' 
							AND s.MEEmrShareHistoryActive = 1
							AND (GETDATE() BETWEEN s.MEEmrShareHistoryFromDate AND s.MEEmrShareHistoryToDate)
							AND (s.FK_HRDepartmentID = 0 OR s.FK_HRDepartmentID = @FK_HRDepartmentID) -- =0 là chia sẻ cho mọi khoa
							AND (s.FK_HREmployeeID = 0 OR s.FK_HREmployeeID = @FK_HREmployeeID) -- =0 là chia sẻ cho mọi nhân viên
						)
			)
		)
END 

--EXEC [dbo].[MEEmrs_Search] null, null, '01/01/2018', '12/31/2018', null, null, 18,208