
-- ======================================================================
-- Author: UtHV
-- Release all document, that user keep and take other document
-- Return empty string if take success, otherwise name of the doctor who keep
-- ======================================================================

ALTER PROCEDURE [dbo].[MEEmrDocuments_TakeEditingPermission]
	@MEEmrDocumentID int,
	@FK_EditingUserID int
AS
BEGIN
SET NOCOUNT ON
BEGIN TRANSACTION;
    SAVE TRANSACTION MySavePoint;
	DECLARE @EditingId int = 0;
	BEGIN TRY
		-- release all handled
		UPDATE [dbo].[MEEmrDocuments] SET [FK_EditingUserID] = 0
		WHERE [FK_EditingUserID]=@FK_EditingUserID and AAStatus = 'Alive'
		-- take permission
		SELECT @EditingId = FK_EditingUserID from [dbo].[MEEmrDocuments] where MEEmrDocumentID=@MEEmrDocumentID
		IF @EditingId = 0 or @EditingId IS NULL
			BEGIN
				UPDATE [dbo].[MEEmrDocuments] SET [FK_EditingUserID] = @FK_EditingUserID
				WHERE MEEmrDocumentID=@MEEmrDocumentID and AAStatus = 'Alive'
				SELECT NULL AS HREmployeeName
			END
		ELSE
			BEGIN
				SELECT HREmployeeName from HREmployees where HREmployeeID  = @EditingId
			END
	END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION MySavePoint; -- rollback to MySavePoint
        END
    END CATCH
    COMMIT TRANSACTION 
END
