ALTER PROCEDURE [dbo].[MEEmrs_ActiveSharedPaging] @FK_HRDepartmentID INT
	,@Skip INT = 0
	,@Take INT = 100000
AS
BEGIN
	SET NOCOUNT ON;

	WITH query
	AS (
		SELECT e.*
			,p.MEPatientNo
			,p.MEPatientName
			,ROW_NUMBER() OVER (
				ORDER BY e.MEEmrID DESC
				) AS RowIndex
		FROM [dbo].[MEEmrs] e
		INNER JOIN [dbo].[MEPatients] p ON e.FK_MEPatientID = p.MEPatientID
		WHERE e.[AAStatus] = 'Alive'
			AND (e.FK_HRDepartmentID = @FK_HRDepartmentID)
			AND e.MEEmrID IN (
				SELECT s.FK_MEEmrID
				FROM [dbo].[MEEmrShareHistories] s
				WHERE s.[AAStatus] = 'Alive'
					AND s.MEEmrShareHistoryActive = 1
					AND (
						GETDATE() BETWEEN s.MEEmrShareHistoryFromDate
							AND s.MEEmrShareHistoryToDate
						)
				)
		)
	SELECT *
	FROM query
	CROSS APPLY (
		SELECT COUNT(*) AS TotalRows
		FROM query
		) AS tmp
	WHERE RowIndex > @Skip
		AND RowIndex <= (@Skip + @Take)
END
