
-- ======================================================================
-- Created By: UtHV
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrs_QuickWithOneCriteria] @FK_MEEmrNo VARCHAR(50)
	,@FK_MEPatientID [int]
	,@FK_HREmployeeID [int]
	,-- id cua tôi
	@FK_HRDepartmentID INT
	,-- khoa cua tôi
	@MEEmrStatus VARCHAR(50) NULL
	,@ViewPermission VARCHAR(100) -- All, Department
AS
BEGIN
	EXEC MEEmrs_QuickWithOneCriteriaPaging @FK_MEEmrNo
		,@FK_MEPatientID
		,@FK_HREmployeeID
		,@FK_HRDepartmentID
		,@MEEmrStatus
		,@ViewPermission
		,0
		,100000
END
