
-- ======================================================================
-- Author: UtHV
-- Release all document, that user keep 
-- ======================================================================

CREATE PROCEDURE [dbo].[MEEmrDocuments_ReleaseAllEditing]
	@FK_EditingUserID int
AS
BEGIN
SET NOCOUNT ON
UPDATE [dbo].[MEEmrDocuments] SET [FK_EditingUserID] = 0 WHERE [FK_EditingUserID]=@FK_EditingUserID and AAStatus = 'Alive'
END
