
x64/
x86/
build/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/

*.licx
*.csproj
*.csproj.user

.vs/
.svn/
/SourceCode/BOSERPSolution/packages/
/SourceCode/Clas/Clas.Repository/packages/
/SourceCode/Clas/Clas.Test/packages/