DELETE
FROM [AAColumnAlias]
WHERE [AATableName] = 'METemplateIndexs' 
AND AAColumnAliasName = 'METemplateIndexRelationCombine'

INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(
		SELECT MAX([AAColumnAliasID]) + 1
		FROM [dbo].[AAColumnAlias]
		)
	,0
	,''
	,'Alive'
	,'METemplateIndexRelationCombine'
	,N'Gom gáy khi sao chép'
	,'METemplateIndexs'
	);