-- =============================================
-- Author:		<UtHV>
-- Create date: <12/02/2020>
-- Description:	<Lay params cho workflow EmrStateMachine>
-- =============================================
ALTER PROCEDURE [dbo].[MEEmrs_EmrStateMachine_GetWorkflowParams] @TableName VARCHAR(250)
	,@ObjectID INT
	,@Action VARCHAR(250)
	,@ADUserID INT
	,@ADUserGroupID INT
	,@HREmployeeID INT
	,@FK_HRDepartmentID INT
AS
BEGIN
	SET NOCOUNT ON;
	IF @Action = 'BackToDept'
	BEGIN
		SELECT @ADUserID AS ADUserID
			,@ADUserGroupID AS ADUserGroupID
			,@HREmployeeID AS HREmployeeID
			,@FK_HRDepartmentID AS FK_HRDepartmentID
			,N'Vui lòng nhập lý do trả về khoa' AS [?Reason] -- chu y co dau hoi phia truoc ten cot
	END
	ELSE
	BEGIN
		SELECT @ADUserID AS ADUserID
			,@ADUserGroupID AS ADUserGroupID
			,@HREmployeeID AS HREmployeeID
			,@FK_HRDepartmentID AS FK_HRDepartmentID
			,N'' AS [Reason] -- chu y khong co dau hoi phia truoc ten cot
	END
END
