
-- ======================================================================
-- Created By: UtHV
-- Latest update: 18/02/2020 - Them @StateConditions
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrs_ActiveSharedPaging] @FK_HRDepartmentID INT
	,@StateConditions NVARCHAR(4000)
	,@Skip INT = 0
	,@Take INT = 100000
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @sql nvarchar(max)
	SET @sql = '
		WITH query
		AS (
			SELECT e.*
				,p.MEPatientNo
				,p.MEPatientName
				,p.MEPatientBirthday
				,DATEPART(year, p.MEPatientBirthday) as MEPatientBirthYear
				,ROW_NUMBER() OVER (
					ORDER BY e.MEEmrID DESC
					) AS RowIndex
			FROM [dbo].[MEEmrs] e
			INNER JOIN [dbo].[MEPatients] p ON e.FK_MEPatientID = p.MEPatientID
			WHERE e.[AAStatus] = ''Alive''
				AND (e.FK_HRDepartmentID = @FK_HRDepartmentID)
				AND e.MEEmrID IN (
					SELECT s.FK_MEEmrID
					FROM [dbo].[MEEmrShareHistories] s
					WHERE s.[AAStatus] = ''Alive''
						AND s.MEEmrShareHistoryActive = 1
						AND (
							GETDATE() BETWEEN s.MEEmrShareHistoryFromDate
								AND s.MEEmrShareHistoryToDate
							)
					)
				' + ISNULL( @StateConditions,'') + '
			)
		SELECT *
		FROM query
		CROSS APPLY (
			SELECT COUNT(*) AS TotalRows
			FROM query
			) AS tmp
		WHERE RowIndex > @Skip
			AND RowIndex <= (@Skip + @Take)
	'
	EXEC sys.sp_executesql @sql
	,N'@FK_HRDepartmentID int, @Skip int, @Take int'
	,@FK_HRDepartmentID
	,@Skip
	,@Take

END
