ALTER PROCEDURE [dbo].[METemplates_GetSubTemplateByRoleAndParentTemplate] @FK_METemplateID INT
	,@Role VARCHAR(100)
	,@FK_HREmployeeShareID INT
	,@FK_HRDepartmentShareID INT
AS
BEGIN
	SET NOCOUNT ON

	SELECT *
	FROM [dbo].[METemplates]
	WHERE AAStatus = 'Alive'
		AND @FK_METemplateID = FK_METemplateID
		AND METemplateType = 'Sub'
		AND (
			@Role = 'admin'
			OR (
				(
					FK_HREmployeeShareID = 0
					OR FK_HREmployeeShareID = @FK_HREmployeeShareID
					)
				AND (
					FK_HRDepartmentShareID = 0
					OR FK_HRDepartmentShareID = @FK_HRDepartmentShareID
					)
				)
			)
END
