--chay tung dong
ALTER TABLE [dbo].[MEEmrAbbrevs] add [MEEmrAbbrevRichText] bit

INSERT INTO [dbo].[AAColumnAlias] VALUES (
(SELECT MAX([AAColumnAliasID])+1 FROM [dbo].[AAColumnAlias] )
, 0, '', 'Alive', 'MEEmrAbbrevRichText', N'Có sử dụng định dạng', 'MEEmrAbbrevs');
GO

UPDATE [dbo].MEEmrAbbrevs set [MEEmrAbbrevRichText] = 0

ALTER TABLE [dbo].MEEmrAbbrevs ALTER COLUMN [MEEmrAbbrevRichText] BIT NOT NULL