
/****** Object:  StoredProcedure [dbo].[MEEmrs_Quick]    Script Date: 05/09/2023 1:54:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[MEEmrs_Quick] 
	@MEEmrCreatedDateFrom DATE
	,@MEEmrCreatedDateTo DATE
	,@FK_HRDepartmentID INT
	,-- khoa cua tôi
	@FK_HRDepartmentSearchID VARCHAR(1000)
	,-- khoa muon xem
	@FK_HREmployeeID INT
	,-- id cua tôi
	@MEEmrArchiveStatus INT
	,-- MEEmrArchiveStatus
	@ViewPermission VARCHAR(100), -- All, Department
	@StateConditions NVARCHAR(4000),
	@ExcludeEmrTypeID AS VARCHAR(1000) = NULL,
	@ModeShare bit,
	@UserAssigned NVARCHAR(50) = NULL
AS
BEGIN
	EXEC MEEmrs_QuickPaging @MEEmrCreatedDateFrom
		,@MEEmrCreatedDateTo
		,@FK_HRDepartmentID
		,@FK_HRDepartmentSearchID
		,@FK_HREmployeeID
		,@MEEmrArchiveStatus
		,@ViewPermission
		,@StateConditions
		,@ExcludeEmrTypeID
		,@ModeShare
		,@UserAssigned
		,0
		,100000
END