GO
-- ======================================================================
-- Last update: XuanTM 30/06/2021 - @ModeShare
-- Object:  StoredProcedure [dbo].[MEEmrs_Quick]    Script Date: 6/30/2021 2:50:38 PM
-- Get from: 1696.11
-- 2162 MODE_SHARE_EMR_VIEW_ALL
-- ======================================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[MEEmrs_Quick] 
	@MEEmrCreatedDateFrom DATE
	,@MEEmrCreatedDateTo DATE
	,@FK_HRDepartmentID INT
	,-- khoa cua tôi
	@FK_HRDepartmentSearchID VARCHAR(1000)
	,-- khoa muon xem
	@FK_HREmployeeID INT
	,-- id cua tôi
	@MEEmrArchiveStatus INT
	,-- MEEmrArchiveStatus
	@ViewPermission VARCHAR(100), -- All, Department
	@StateConditions NVARCHAR(4000),
	@ExcludeEmrTypeID AS VARCHAR(1000) = NULL,
	@ModeShare bit
AS
BEGIN
	EXEC MEEmrs_QuickPaging @MEEmrCreatedDateFrom
		,@MEEmrCreatedDateTo
		,@FK_HRDepartmentID
		,@FK_HRDepartmentSearchID
		,@FK_HREmployeeID
		,@MEEmrArchiveStatus
		,@ViewPermission
		,@StateConditions
		,@ExcludeEmrTypeID
		,@ModeShare
		,0
		,100000
END