-- =============================================
-- Author:		UtHV
-- Create date: 09/11/2019
-- Description:	Get the report by report type and report permission 
-- =============================================
ALTER PROCEDURE [dbo].[ADReports_GetReportByReportTypeAndReportPermission] @ReportType VARCHAR(50)
	,@ADUserGroupID INT
	,@ADReportPermissionType INT
AS
BEGIN
	SET NOCOUNT ON;

	IF @ADReportPermissionType = - 1 -- admin get all by type = -1
	BEGIN
		SELECT r.*
		FROM [dbo].[ADReports] r
		WHERE r.AAStatus = 'Alive'
			AND r.ADReportType = @ReportType
		ORDER BY r.ADReportSortOrder
	END
	ELSE
	BEGIN
		SET @ADReportPermissionType = ISNULL(@ADReportPermissionType, 0)

		SELECT r.*
		FROM [dbo].[ADReports] r
		INNER JOIN [dbo].[ADReportPermissions] rp ON r.ADReportID = rp.FK_ADReportID
		WHERE r.AAStatus = 'Alive'
			AND rp.AAStatus = 'Alive'
			AND r.ADReportType = @ReportType
			AND rp.FK_ADUserGroupID = @ADUserGroupID
			AND rp.ADReportPermissionType = @ADReportPermissionType
		ORDER BY r.ADReportSortOrder
	END
END
