ALTER PROCEDURE [dbo].[ADConfigValues_SelectByADConfigKeyGroups]
	@ADConfigKeyGroups nvarchar(1000)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @sql nvarchar(4000)
	SET @sql = 'SELECT
		*
	FROM
		[dbo].[ADConfigValues]
	WHERE
		[ADConfigKeyGroup] IN (' + @ADConfigKeyGroups +')
	AND [AAStatus] = ''Alive'''

	EXEC(@sql)

END

