DELETE
FROM [AAColumnAlias]
WHERE [AATableName] = 'MEEmrs' 
AND [AAColumnAliasName] IN ('MEEmrNotifyType','MEEmrNotifyMsg')

INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(
		SELECT MAX([AAColumnAliasID]) + 1
		FROM [dbo].[AAColumnAlias]
		)
	,0
	,''
	,'Alive'
	,'MEEmrNotifyType'
	,N'Loại thông báo'
	,'MEEmrs'
	);

	INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(
		SELECT MAX([AAColumnAliasID]) + 1
		FROM [dbo].[AAColumnAlias]
		)
	,0
	,''
	,'Alive'
	,'MEEmrNotifyMsg'
	,N'Thông báo'
	,'MEEmrs'
	);