USE [dev04]
GO
/****** Object:  StoredProcedure [dbo].[MEEmrs_EmrStateMachine_GetWorkflowParams]    Script Date: 4/17/2020 6:24:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<UtHV>
-- Create date: <12/02/2020>
-- Description:	<Lay params cho workflow EmrStateMachine>
-- Modifier:	<XuanTM>
-- Modified date:<17/04/2020>
-- Description:	<Us 263: Popup BackToDept>
-- =============================================
ALTER PROCEDURE [dbo].[MEEmrs_EmrStateMachine_GetWorkflowParams] @TableName VARCHAR(250)
	,@ObjectID INT
	,@Action VARCHAR(250)
	,@ADUserID INT
	,@ADUserGroupID INT
	,@HREmployeeID INT
	,@FK_HRDepartmentID INT
AS
BEGIN
	SET NOCOUNT ON;
	IF @Action <> 'BackToDept'
	BEGIN
		SELECT @ADUserID AS ADUserID
			,@ADUserGroupID AS ADUserGroupID
			,@HREmployeeID AS HREmployeeID
			,@FK_HRDepartmentID AS FK_HRDepartmentID
			,N'Nhập lý do' AS [Reason] -- chu y khong co dau hoi phia truoc ten cot
	END
	ELSE
	BEGIN
		--'BackToDept'
		SELECT @ADUserID AS ADUserID
			,@ADUserGroupID AS ADUserGroupID
			,@HREmployeeID AS HREmployeeID
			,@FK_HRDepartmentID AS FK_HRDepartmentID
			,N'Nhập lý do vì sao trả bệnh án này về khoa' AS [?Reason] -- chu y co dau hoi phia truoc ten cot
	END
END
