<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicesPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicesPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://trusted-hub.com:8443/eSignCloud/Services" binding="basicHttpBinding" bindingConfiguration="ServicesPortBinding" contract="eSignServiceReference.Services" name="ServicesPort" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>