USE [db]
GO
/****** Object:  StoredProcedure [dbo].[HREmpWorkingDepts_GetAllDeptsOfEmp]    Script Date: 01/21/2020 9:48:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[HREmpWorkingDepts_GetAllDeptsOfEmp] @FK_HREmployeeID INT
	,@CurrentDepartmentID INT
AS
BEGIN
	SET NOCOUNT ON

	SELECT d.HRDepartmentID
		,d.HRDepartmentName
		,d.HRDepartmentNo
		,d.HRDepartmentDesc
	FROM [dbo].[HRDepartments] d
	WHERE d.HRDepartmentID = @CurrentDepartmentID
		AND d.[AAStatus] = 'Alive'
	
	UNION ALL -- khong dung UNION se lam cho Current Department co truong hop se bi day xuong cuoi.
	
	SELECT d.HRDepartmentID
		,d.HRDepartmentName
		,d.HRDepartmentNo
		,d.HRDepartmentDesc
	FROM [dbo].[HREmpWorkingDepts] w
	INNER JOIN [dbo].[HRDepartments] d ON w.FK_HRDepartmentID = d.HRDepartmentID
	WHERE w.[FK_HREmployeeID] = @FK_HREmployeeID
		AND w.[AAStatus] = 'Alive'
		AND d.[AAStatus] = 'Alive'
		AND d.HRDepartmentID <> @CurrentDepartmentID
END
