<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Emr.Base" value="https://clas.pkgs.visualstudio.com/ProgressNote/_packaging/Emr.Base/nuget/v3/index.json" />
     <add key="Clas.Emr.Core" value="https://clas.pkgs.visualstudio.com/ProgressNote/_packaging/Clas.Emr.Core/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Emr.Base>
      <add key="Username" value="uthv@live.com" />
      <add key="ClearTextPassword" value="uhi2oozi7zqtw6c3bacwmeluw7rvdberjh2r3zatke6towzynqdq" />
    </Emr.Base>
      <Clas.Emr.Core>
      <add key="Username" value="uthv@live.com" />
      <add key="ClearTextPassword" value="uhi2oozi7zqtw6c3bacwmeluw7rvdberjh2r3zatke6towzynqdq" />
    </Clas.Emr.Core>
  </packageSourceCredentials>
</configuration>