-- ======================================================================
-- Created By: UtHV
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrs_QuickWithOneCriteria]
	@FK_MEEmrNo varchar(50),
	@FK_MEPatientID [int],
	@FK_HREmployeeID [int], -- id cua tôi
	@FK_HRDepartmentID int,-- khoa cua tôi
	@MEEmrStatus varchar(50) null,
	@ViewPermission varchar(100) -- All, Department
AS
BEGIN
	SET NOCOUNT ON
	SELECT TOP 100000 e.*, p.MEPatientNo, p.MEPatientName, e.FK_HRDepartmentID as FK_HRDepartmentShortID
	FROM
		[dbo].[MEEmrs] e 
		INNER JOIN [dbo].[MEPatients] p ON e.FK_MEPatientID = p.MEPatientID
		INNER JOIN [dbo].[MEEmrTypes] t on e.FK_MEEmrTypeID = t.MEEmrTypeID
	WHERE (e.MEEmrNo IS NULL OR e.MEEmrNo like CONCAT( '%' , @FK_MEEmrNo , '%'))
		AND (@FK_MEPatientID IS NULL or e.FK_MEPatientID = @FK_MEPatientID)
		AND e.[AAStatus]='Alive'
		AND p.[AAStatus]='Alive'
		AND t.[AAStatus] = 'Alive'
		AND (@MEEmrStatus IS NULL OR e.MEEmrStatus = @MEEmrStatus)
		AND ( e.FK_HRDepartmentID = @FK_HRDepartmentID -- khoa muon xem la khoa cua toi
			-- ho so benh nhan
			OR t.MEEmrTypeIsPatientProfile = 1
			-- quyen truy xuat tat ca
			OR (@ViewPermission = 'All')
			OR  e.MEEmrID IN (SELECT s.FK_MEEmrID
								FROM [dbo].[MEEmrShareHistories] s 
								WHERE s.[AAStatus]='Alive' 
								AND s.MEEmrShareHistoryActive = 1
								AND (GETDATE() BETWEEN s.MEEmrShareHistoryFromDate AND s.MEEmrShareHistoryToDate)
								AND (s.FK_HRDepartmentID = 0 OR s.FK_HRDepartmentID = @FK_HRDepartmentID) -- =0 là chia sẻ cho mọi khoa
								AND (s.FK_HREmployeeID = 0 OR s.FK_HREmployeeID = @FK_HREmployeeID) -- =0 là chia sẻ cho mọi nhân viên
			)
		)
END
