
-- ======================================================================
-- Created By: UtHV
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrs_ActiveShared] @FK_HRDepartmentID INT
AS
BEGIN

	EXEC MEEmrs_ActiveSharedPaging @FK_HRDepartmentID
		,0
		,100000

END
