
-- ======================================================================
-- Created By: UtHV
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrs_QuickByPatient]
	@FK_MEPatientID [int],
	@FK_HREmployeeID [int], -- id cua tôi
	@FK_HRDepartmentID int-- khoa cua tôi
AS
BEGIN
	EXEC MEEmrs_QuickByPatientPaging @FK_MEPatientID
		,@FK_HREmployeeID
		,@FK_HRDepartmentID
		,0
		,100000

END