CREATE PROCEDURE [dbo].[MEEmrs_GetFirstOpeningOutEmr] @FK_MEPatientID INT
AS
BEGIN
	SET NOCOUNT ON

	SELECT *
	FROM [dbo].[MEEmrs]
	WHERE [FK_MEPatientID] = @FK_MEPatientID
		AND [AAStatus] = 'Alive'
		AND [MEEmrTypeProfile] = 'Out'
		AND [MEEmrStatus] = 'InProgress'
END
