
ALTER PROCEDURE [dbo].[MEEmrTypes_GetAllEmrTypesForLookupEdit]
AS
BEGIN
	SET NOCOUNT ON

	SELECT *
	FROM [dbo].[MEEmrTypes]
	WHERE MEEmrTypeProfile <> 'Patient'
		AND [AAStatus] = 'Alive'
END