
-- ======================================================================
-- UtHV
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrTypes_GetPatientProfileType] 
AS
BEGIN
	SET NOCOUNT ON

	SELECT TOP 1 *
	FROM [dbo].[MEEmrTypes]
	WHERE   MEEmrTypeProfile = 'Patient'
		AND [AAStatus] = 'Alive'
END