ALTER PROCEDURE [dbo].[MEEmrs_Quick] 
	@MEEmrCreatedDateFrom DATE
	,@MEEmrCreatedDateTo DATE
	,@FK_HRDepartmentID INT
	,-- khoa cua tôi
	@FK_HRDepartmentSearchID VARCHAR(1000)
	,-- khoa muon xem
	@FK_HREmployeeID [int]
	,-- id cua tôi
	@MEEmrArchiveStatus INT
	,-- MEEmrArchiveStatus
	@ViewPermission VARCHAR(100), -- All, Department
	@StateConditions NVARCHAR(4000),
	@ExcludeEmrTypeID AS VARCHAR(1000) = NULL
AS
BEGIN
	EXEC MEEmrs_QuickPaging @MEEmrCreatedDateFrom
		,@MEEmrCreatedDateTo
		,@FK_HRDepartmentID
		,@FK_HRDepartmentSearchID
		,@FK_HREmployeeID
		,@MEEmrArchiveStatus
		,@ViewPermission
		,@StateConditions
		,@ExcludeEmrTypeID
		,0
		,100000
END