
ALTER PROCEDURE [dbo].[MEEmrs_QuickShared] @MEEmrCreatedDateFrom DATE
	,@MEEmrCreatedDateTo DATE
	,@FK_HRDepartmentID INT
	,-- khoa cua tôi
	@FK_HRDepartmentSearchID VARCHAR(1000)
	,-- tat ca cac khoa khac ngoai tru khoa cong khai va khoa cua toi
	@FK_HRDepartmentOpenID VARCHAR(1000)
	,-- khoa cong khai
	@FK_HREmployeeID [int]
	,-- id cua tôi
	@MEEmrArchiveStatus INT
	,-- MEEmrArchiveStatus
	@ViewPermission VARCHAR(100)
	,-- All, Department
	@StateConditions NVARCHAR(4000)
	,
	@ExcludeEmrTypeID VARCHAR(1000) = NULL

AS
BEGIN
	EXEC MEEmrs_QuickSharedPaging @MEEmrCreatedDateFrom
		,@MEEmrCreatedDateTo
		,@FK_HRDepartmentID
		,@FK_HRDepartmentSearchID
		,@FK_HRDepartmentOpenID
		,@FK_HREmployeeID
		,@MEEmrArchiveStatus
		,@ViewPermission
		,@StateConditions
		,@ExcludeEmrTypeID
		,0
		,100000
END