DELETE AAColumnAlias WHERE AATableName='MEParams' AND AAColumnAliasName='MEParamReportMap'
DELETE AAColumnAlias WHERE AATableName='MEParams' AND AAColumnAliasName='MEParamReportXML'
DELETE AAColumnAlias WHERE AATableName='MEParams' AND AAColumnAliasName='MEParamReportXMLLevel'
DELETE AAColumnAlias WHERE AATableName='MEParams' AND AAColumnAliasName='MEParamReportXMLGroup'
DELETE AAColumnAlias WHERE AATableName='MEParams' AND AAColumnAliasName='MEParamReportXMLOrder'
INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(
		SELECT MAX([AAColumnAliasID]) + 1
		FROM [dbo].[AAColumnAlias]
		)
	,0
	,''
	,'Alive'
	,'MEParamXMLTag'
	,N'Thẻ XML'
	,'MEParams'
	);