DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamReportRelations' AND AAColumnAliasName='FK_METemplateID'
DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamReportRelations' AND AAColumnAliasName='FK_METemplateID2'
DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamReportRelations' AND AAColumnAliasName='MEParamReportMap2'
DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamReportRelations' AND AAColumnAliasName='FK_METemplateID3'
DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamReportRelations' AND AAColumnAliasName='MEParamReportMap3'
DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamReportRelations' AND AAColumnAliasName='METemplateNo'
DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamReportRelations' AND AAColumnAliasName='METemplateNo2'
DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamReportRelations' AND AAColumnAliasName='METemplateNo3'
GO
INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(
		SELECT MAX([AAColumnAliasID]) + 1
		FROM [dbo].[AAColumnAlias]
		)
	,0
	,''
	,'Alive'
	,'METemplateNo'
	,N'Mẫu BA 1'
	,'MEParamReportRelations'
	);

INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(
		SELECT MAX([AAColumnAliasID]) + 1
		FROM [dbo].[AAColumnAlias]
		)
	,0
	,''
	,'Alive'
	,'METemplateNo2'
	,N'Mẫu BA 2'
	,'MEParamReportRelations'
	);

INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(
		SELECT MAX([AAColumnAliasID]) + 1
		FROM [dbo].[AAColumnAlias]
		)
	,0
	,''
	,'Alive'
	,'MEParamReportMap2'
	,N'Thẻ dữ liệu 2'
	,'MEParamReportRelations'
	);

INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(
		SELECT MAX([AAColumnAliasID]) + 1
		FROM [dbo].[AAColumnAlias]
		)
	,0
	,''
	,'Alive'
	,'METemplateNo3'
	,N'Mẫu BA 3'
	,'MEParamReportRelations'
	);

INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(
		SELECT MAX([AAColumnAliasID]) + 1
		FROM [dbo].[AAColumnAlias]
		)
	,0
	,''
	,'Alive'
	,'MEParamReportMap3'
	,N'Thẻ dữ liệu 3'
	,'MEParamReportRelations'
	);