
ALTER PROCEDURE [dbo].[MEEmrs_GetEmrByPatientWithoutPatientProfile] @FK_MEPatientID INT
	,@MEEmrTypeProfile VARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON

	SELECT *, p.MEPatientNo, p.MEPatientName, e.FK_HRDepartmentID as FK_HRDepartmentShortID
	FROM [dbo].[MEEmrs] e INNER JOIN [dbo].[MEPatients] p ON e.FK_MEPatientID = p.MEPatientID
	WHERE e.[FK_MEPatientID] = @FK_MEPatientID
		AND e.[AAStatus] = 'Alive'
		AND p.[AAStatus]='Alive'
		AND e.MEEmrTypeProfile <> 'Patient'
		AND (
			@MEEmrTypeProfile IS NULL
			OR e.MEEmrTypeProfile = @MEEmrTypeProfile
			)
END