--chay tung dong
ALTER TABLE [dbo].[METemplateCharts] add METemplateChartRenderAtSave bit

INSERT INTO [dbo].[AAColumnAlias] VALUES (
(SELECT MAX([AAColumnAliasID])+1 FROM [dbo].[AAColumnAlias] )
, 0, '', 'Alive', 'METemplateChartRenderAtSave', N'Vẽ lại khi lưu', 'METemplateCharts');
GO

UPDATE [dbo].[METemplateCharts] set METemplateChartRenderAtSave = 0

ALTER TABLE [dbo].[METemplateCharts] ALTER COLUMN METemplateChartRenderAtSave BIT NOT NULL


--chay tung dong
ALTER TABLE [dbo].[METemplateCharts] add METemplateChartContainerParam varchar(500)

INSERT INTO [dbo].[AAColumnAlias] VALUES (
(SELECT MAX([AAColumnAliasID])+1 FROM [dbo].[AAColumnAlias] )
, 0, '', 'Alive', 'METemplateChartContainerParam', N'Thẻ dữ liệu', 'METemplateCharts');
GO