DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamLookupDatas' and AAColumnAliasName = 'MEParamLookupDataEncode'
GO

INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(SELECT MAX([AAColumnAliasID]) + 1 FROM [dbo].[AAColumnAlias])
	,0
	,''
	,'Alive'
	,'MEParamLookupDataEncode'
	,N'Mã hóa'
	,'MEParamLookupDatas'
	);
GO

DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamReportRelations' and AAColumnAliasName = 'MEParamReportRelationEncode'
GO

INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(SELECT MAX([AAColumnAliasID]) + 1 FROM [dbo].[AAColumnAlias])
	,0
	,''
	,'Alive'
	,'MEParamReportRelationEncode'
	,N'Mã hóa'
	,'MEParamReportRelations'
	);