DELETE
FROM [dbo].[ADSystemConfigs]
WHERE [ADSystemConfigGroup] = 'EMR_PROCESS'
	AND [ADSystemConfigKey] = 'DAYS_REMAIN_FORGET_RECLOSE_EMR'

INSERT INTO [dbo].[ADSystemConfigs] (
	[ADSystemConfigID]
	,[AAStatus]
	,[IsActive]
	,[ADSystemConfigGroup]
	,[ADSystemConfigKey]
	,[ADSystemConfigValue]
	,[ADSystemConfigText]
	,[ADSystemConfigDesc]
	)
VALUES (
	(
		SELECT ISNULL(MAX([ADSystemConfigID]), 0) + 1
		FROM [dbo].[ADSystemConfigs]
		)
	,'Alive'
	,'1'
	,'EMR_PROCESS'
	,'DAYS_REMAIN_FORGET_RECLOSE_EMR'
	,N'60'
	,N'Bệnh án mở lại [số ngày] nhưng quên đóng'
	,N'Chức năng thông báo cho người dùng có những bệnh án được Mở lại 60 ngày trước nhưng quên đóng. Giá trị = "0" tương đương tắt chức năng'
	);
