CREATE
	OR

ALTER PROCEDURE [dbo].[MEEmrs_GetEmrsForgetClose] @RemainDays INT
AS
BEGIN
	SET NOCOUNT ON

	SELECT e.*
		,p.MEPatientNo
		,p.MEPatientName
		,p.MEPatientContactCellPhone
		,e.FK_HRDepartmentID AS FK_HRDepartmentShortID
		,p.MEPatientBirthday
		,DATEPART(year, p.MEPatientBirthday) AS MEPatientBirthYear
		,'' AS MEEmrArchiveStatus
		,ROW_NUMBER() OVER (
			ORDER BY e.MEEmrID DESC
			) AS RowIndex
	FROM [dbo].[MEEmrs] e
	INNER JOIN [dbo].[MEPatients] p ON e.FK_MEPatientID = p.MEPatientID
	WHERE e.[AAStatus] = 'Alive'
		AND e.[MEEmrStatus] = 'InProgress'
		AND p.[AAStatus] = 'Alive'
		AND DATEDIFF(DAY, e.[MEEmrEndDate], GETDATE()) >= @RemainDays
END
