USE [DB]
GO
/****** Object:  StoredProcedure [dbo].[MEEmrDocuments_ReleaseAllEditing]    Script Date: 10/28/2019 3:16:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ======================================================================
-- Author: UtHV
-- Release all document, that user keep 
-- V2 28/10/2019 add @MEEmrDocumentHoldMachineMac param
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrDocuments_ReleaseAllEditingV2] @FK_EditingUserID INT
,@MEEmrDocumentHoldMachineMac VARCHAR(30)
AS
BEGIN
	SET NOCOUNT ON

	UPDATE [dbo].[MEEmrDocuments]
	SET [FK_EditingUserID] = 0
		,[MEEmrDocumentHoldFrom] = dbo.fn_max_date()
		, MEEmrDocumentHoldMachineMac = NULL
		, MEEmrDocumentHoldMachineIp = NULL
	WHERE [FK_EditingUserID] = @FK_EditingUserID
		AND MEEmrDocumentHoldMachineMac = @MEEmrDocumentHoldMachineMac
		AND AAStatus = 'Alive'
END
