CREATE PROCEDURE [dbo].[MEEmrDocuments_GetByUserGroupWrite] @FK_MEEmrID INT
	,@FK_ADUserGroupID INT
AS
BEGIN
	SET NOCOUNT ON

	SELECT d.*
		,(
			SELECT u.ADUserGroupName + '; ' AS [text()]
			FROM [dbo].[METemplateUserGroups] t
			INNER JOIN [dbo].[ADUserGroups] u ON t.FK_ADUserGroupID = u.ADUserGroupID
			WHERE t.FK_METemplateID = d.FK_METemplateID
				AND u.AAStatus = 'Alive'
				AND t.AAStatus = 'Alive'
			FOR XML PATH('')
			) AS ADUserGroupNames
		,d.FK_HRDepartmentID AS FK_HRDepartmentShortID -- hien thi them cot khoa viet tat
	FROM [dbo].[MEEmrDocuments] d
	INNER JOIN [dbo].[METemplateUserGroups] tg ON d.FK_METemplateID = tg.FK_METemplateID
	WHERE [FK_MEEmrID] = @FK_MEEmrID
		AND FK_ADUserGroupID = @FK_ADUserGroupID
		AND d.[AAStatus] = 'Alive'
		AND tg.[AAStatus] = 'Alive'
END
