
-- ======================================================================
-- Created By: UtHV
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrs_CheckEditPermission]
	@MEEmrID [int],
	@FK_HREmployeeID [int], -- id cua tôi
	@FK_HRDepartmentID int,-- khoa cua tôi
	@EditPermission varchar(100) -- All, Department
AS
BEGIN
	SET NOCOUNT ON
	SELECT TOP 1 e.*, e.FK_HRDepartmentID as FK_HRDepartmentShortID
	FROM
		[dbo].[MEEmrs] e
	WHERE e.MEEmrID = @MEEmrID
		AND e.[AAStatus]='Alive'
		AND ( e.FK_HRDepartmentID = @FK_HRDepartmentID -- khoa muon xem la khoa cua toi
			-- quyen truy xuat tat ca
			OR (@EditPermission = 'All')
			OR  e.MEEmrID IN (SELECT s.FK_MEEmrID
								FROM [dbo].[MEEmrShareHistories] s 
								WHERE s.[AAStatus]='Alive' 
								AND s.MEEmrShareHistoryActive = 1
								AND s.MEEmrShareHistoryMode = 'Edit'
								AND (GETDATE() BETWEEN s.MEEmrShareHistoryFromDate AND s.MEEmrShareHistoryToDate)
								AND (s.FK_HRDepartmentID = 0 OR s.FK_HRDepartmentID = @FK_HRDepartmentID) -- =0 là chia sẻ cho mọi khoa
								AND (s.FK_HREmployeeID = 0 OR s.FK_HREmployeeID = @FK_HREmployeeID) -- =0 là chia sẻ cho mọi nhân viên
			)
		)
END
