CREATE
	OR

ALTER PROCEDURE [dbo].[STFieldColumns_DeleteByFieldIDAndUser] @STFieldID INT
	,@FK_ADUserGroupID INT
	,@FK_ADUserID INT
AS
BEGIN
	SET NOCOUNT ON
	SET @FK_ADUserGroupID = ISNULL(@FK_ADUserGroupID,0)
	SET @FK_ADUserID = ISNULL(@FK_ADUserID,0)
	DELETE
	FROM [dbo].[STFieldColumns]
	WHERE [STFieldID] = @STFieldID
		AND [FK_ADUserGroupID] = @FK_ADUserGroupID
		AND [FK_ADUserID] = @FK_ADUserID
END
