CREATE
	OR

ALTER PROCEDURE [dbo].[STFieldColumns_GetByFieldIDAndUser] @STFieldID INT
	,@FK_ADUserGroupID INT
	,@FK_ADUserID INT
AS
BEGIN
	SET NOCOUNT ON
	SET @FK_ADUserGroupID = ISNULL(@FK_ADUserGroupID, 0);
	SET @FK_ADUserID = ISNULL(@FK_ADUserID, 0);

	DECLARE @levelCount INT = 0;

	SELECT @levelCount = (
			SELECT TOP 1 [STFieldColumnID]
			FROM [dbo].[STFieldColumns]
			WHERE [STFieldID] = @STFieldID
				AND [FK_ADUserGroupID] = @FK_ADUserGroupID
				AND [FK_ADUserID] = @FK_ADUserID
			)

	IF (ISNULL(@levelCount, 0) > 0)
	BEGIN
		-- lay danh sach col cua rieng nguoi dung nay
		SELECT *
		FROM [dbo].[STFieldColumns]
		WHERE [STFieldID] = @STFieldID
			AND [FK_ADUserGroupID] = @FK_ADUserGroupID
			AND [FK_ADUserID] = @FK_ADUserID
		ORDER BY STFieldColumnVisibleIndex
	END
	ELSE
	BEGIN
		SELECT @levelCount = (
				SELECT TOP 1 [STFieldColumnID]
				FROM [dbo].[STFieldColumns]
				WHERE [STFieldID] = @STFieldID
					AND [FK_ADUserGroupID] = @FK_ADUserGroupID
					AND [FK_ADUserID] = 0
				)

		-- lay danh sach col mac dinh cua nhom
		IF (ISNULL(@levelCount, 0) > 0)
		BEGIN
			SELECT *
			FROM [dbo].[STFieldColumns]
			WHERE [STFieldID] = @STFieldID
				AND [FK_ADUserGroupID] = @FK_ADUserGroupID
				AND [FK_ADUserID] = 0
			ORDER BY STFieldColumnVisibleIndex
		END
		ELSE
		BEGIN
			-- lay danh sach col mac dinh cua he thong
			SELECT *
			FROM [dbo].[STFieldColumns]
			WHERE [STFieldID] = @STFieldID
				AND [FK_ADUserGroupID] = 0
				AND [FK_ADUserID] = 0
			ORDER BY STFieldColumnVisibleIndex
		END
	END
END
