
-- =============================================
-- Author:		UtHV
-- 14/08/2018
-- =============================================
CREATE PROCEDURE [dbo].METemplates_GetTemplatesExcludeType
	@METemplateType		varchar(50)
AS
BEGIN	
	SET NOCOUNT ON;

    select	t.*
    from	[dbo].[METemplates] t
    where	t.AAStatus = 'Alive'
    and		t.METemplateType <> @METemplateType
END

