
ALTER PROCEDURE [dbo].[METemplates_SearchByRole]
	@Role varchar(100),
	@FK_HREmployeeShareID int,
	@FK_HRDepartmentShareID int

AS
BEGIN
SET NOCOUNT ON
SELECT 
	*
FROM
	[dbo].[METemplates]
WHERE
	AAStatus ='Alive'
	AND (@Role = 'admin'
		OR (	METemplateType = 'Sub' AND
				(FK_HREmployeeShareID = 0 OR FK_HREmployeeShareID = @FK_HREmployeeShareID)
				AND
				(FK_HRDepartmentShareID = 0 OR FK_HRDepartmentShareID = @FK_HRDepartmentShareID)
			)
	)
END
