--chay tung dong

ALTER TABLE MEEmrActions ADD [MEEmrActionPlugin] varchar(256)

INSERT INTO [dbo].[AAColumnAlias] VALUES (
(SELECT MAX([AAColumnAliasID])+1 FROM [dbo].[AAColumnAlias] )
, 0, '', 'Alive', 'MEEmrActionPlugin', N'Trình cắm mở rộng (.dll)', 'MEEmrActions');
GO

