-- ======================================================================
-- Created By: UtHV
-- Latest update: 23/09/2020
-- ======================================================================
CREATE
	OR

ALTER PROCEDURE [dbo].[MEEmrs_StayingByRoom] @FK_HRDepartmentID INT
	,-- khoa cua tôi
	@MEEmrRoomNo NVARCHAR(200)
AS
BEGIN
	SET NOCOUNT ON

	SELECT e.*
		,p.MEPatientNo
		,p.MEPatientName
		,p.MEPatientContactCellPhone
		,e.FK_HRDepartmentID AS FK_HRDepartmentShortID
		,p.MEPatientBirthday
		,DATEPART(year, p.MEPatientBirthday) AS MEPatientBirthYear
	FROM [dbo].[MEEmrs] e
	INNER JOIN [dbo].[MEPatients] p ON e.FK_MEPatientID = p.MEPatientID
	WHERE e.MEEmrStatus = 'InProgress'
		AND e.[AAStatus] = 'Alive'
		AND p.[AAStatus] = 'Alive'
		AND (e.FK_HRDepartmentID = @FK_HRDepartmentID)
		AND (
			@MEEmrRoomNo IS NULL -- lay tat ca
			OR e.MEEmrRoomNo = @MEEmrRoomNo -- lay 1 phong
			OR ( -- lay cac benh an chua phan phong
				@MEEmrRoomNo = N'NOT_IN_ROOM'
				AND (
					e.MEEmrRoomNo = ''
					OR e.MEEmrRoomNo IS NULL
					)
				)
			)
	ORDER BY e.MEEmrID DESC
END
