DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamReportRelations' and AAColumnAliasName = 'FK_MEParamID'
GO
DELETE FROM [AAColumnAlias] WHERE [AATableName] = 'MEParamReportRelations' and AAColumnAliasName = 'MEParamReportMapFilter'
GO

INSERT INTO [dbo].[AAColumnAlias] (
	[AAColumnAliasID]
	,[AANumberInt]
	,[AANumberString]
	,[AAStatus]
	,[AAColumnAliasName]
	,[AAColumnAliasCaption]
	,[AATableName]
	)
VALUES (
	(SELECT MAX([AAColumnAliasID]) + 1 FROM [dbo].[AAColumnAlias])
	,0
	,''
	,'Alive'
	,'MEParamReportMapFilter'
	,N'Thẻ chọn'
	,'MEParamReportRelations'
	);