
/****** Object:  StoredProcedure [dbo].[MEEmrs_QuickWithOneCriteria]    Script Date: 05/09/2023 1:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[MEEmrs_QuickWithOneCriteria] @FK_MEEmrNo VARCHAR(50)
	,@FK_MEPatientID [int]
	,@FK_HREmployeeID [int]
	,-- id cua tôi
	@FK_HRDepartmentID INT
	,-- khoa cua tôi
	@MEEmrStatus VARCHAR(50) NULL
	,@MEEmrArchiveStatus INT
	,@ViewPermission VARCHAR(100), -- All, Department
	@StateConditions NVARCHAR(4000),
	@ExcludeEmrTypeID AS VARCHAR(1000) = NULL
AS
BEGIN
	EXEC MEEmrs_QuickWithOneCriteriaPaging @FK_MEEmrNo
		,@FK_MEPatientID
		,@FK_HREmployeeID
		,@FK_HRDepartmentID
		,@MEEmrStatus
		,@MEEmrArchiveStatus
		,@ViewPermission
		,@StateConditions
		,@ExcludeEmrTypeID
		,0
		,100000
END