
/****** Object:  StoredProcedure [dbo].[MEEmrs_QuickSharedPaging]    Script Date: 05/09/2023 1:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ======================================================================
-- Last update: XuanTM 10/09/2020 - @MEEmrArchiveStatus
-- Get from: 1691.7
-- Add condition WaitClose on 1694.0 LK
-- ======================================================================

ALTER   PROCEDURE [dbo].[MEEmrs_QuickSharedPaging]
    @MEEmrCreatedDateFrom date,
    @MEEmrCreatedDateTo date,
	@FK_HRDepartmentID int,-- khoa cua tôi
	@FK_HRDepartmentSearchID varchar(1000),-- tat ca cac khoa khac ngoai tru khoa cong khai va khoa cua toi
	@FK_HRDepartmentOpenID varchar(1000),-- khoa cong khai
	@FK_HREmployeeID [int], -- id cua tôi
	@MEEmrArchiveStatus INT, -- 0-1,... query tbl MEEmrArchives
	@ViewPermission varchar(100), -- All, Department
	@StateConditions NVARCHAR(4000),
	@ExcludeEmrTypeID VARCHAR(1000) = NULL,
	@Skip INT = 0,
	@Take INT = 100000
AS
BEGIN
	SET NOCOUNT ON
	SET @FK_HRDepartmentSearchID = ISNULL(@FK_HRDepartmentSearchID, '-1')
	SET @FK_HRDepartmentOpenID = ISNULL(@FK_HRDepartmentOpenID, '-1')
	SET @ExcludeEmrTypeID = ISNULL( @ExcludeEmrTypeID,'-1')

	-- MEEmrArchives
	DECLARE @sqlSelectMEEmrArchives nvarchar(128) = ' '''''
	DECLARE @sqlMEEmrArchives nvarchar(1024) = ''
	if (@MEEmrArchiveStatus = 1)  
	begin
		set @sqlSelectMEEmrArchives = ' ISNULL(arcap.MEEmrArchiveStatus,'''')'
		set @sqlMEEmrArchives = ' OUTER APPLY (SELECT TOP 1 MEEmrArchiveStatus FROM MEEmrArchives arc WHERE arc.AAStatus=''Alive'' AND arc.FK_MEEmrID = e.MEEmrID ORDER BY MEEmrArchiveID desc) arcap'
	end
	-- End MEEmrArchives
	
	DECLARE @sql nvarchar(max)
	SET @sql = '
			WITH query AS (
				SELECT
				e.*
				, p.MEPatientNo
				, p.MEPatientName
				, p.MEPatientContactCellPhone
				, e.FK_HRDepartmentID as FK_HRDepartmentShortID
				, p.MEPatientBirthday
				, DATEPART(year, p.MEPatientBirthday) as MEPatientBirthYear
				, '+ @sqlSelectMEEmrArchives +' AS MEEmrArchiveStatus	
				, ROW_NUMBER() OVER (ORDER BY e.MEEmrID DESC) AS RowIndex
				FROM
					[dbo].[MEEmrs] e INNER JOIN [dbo].[MEPatients] p ON e.FK_MEPatientID = p.MEPatientID' 
					+ @sqlMEEmrArchives +
				' WHERE
					e.[AAStatus]=''Alive''
					AND p.[AAStatus]=''Alive''
					AND e.FK_MEEmrTypeID NOT IN ( '+ @ExcludeEmrTypeID + ' )
					AND (
						-- khoa muon xem chia se cho toi
						e.MEEmrID IN (SELECT s.FK_MEEmrID
											FROM [dbo].[MEEmrShareHistories] s 
											WHERE s.[AAStatus]=''Alive'' 
											AND s.MEEmrShareHistoryActive = 1
											AND (GETDATE() BETWEEN s.MEEmrShareHistoryFromDate AND s.MEEmrShareHistoryToDate)
											AND (e.FK_HRDepartmentID IN ( '+  @FK_HRDepartmentSearchID + ' )
												OR (e.FK_HRDepartmentID IN ( '+  @FK_HRDepartmentOpenID + ' ) AND s.FK_HREmployeeID = @FK_HREmployeeID)
												OR (e.MEEmrStatus = ''Closed'' AND s.FK_HRDepartmentID = @FK_HRDepartmentID AND s.FK_HREmployeeID = @FK_HREmployeeID)
												OR (e.MEEmrStatus = ''WaitClose'' AND s.FK_HRDepartmentID = @FK_HRDepartmentID AND s.FK_HREmployeeID = @FK_HREmployeeID)
											)
											AND (s.FK_HRDepartmentID = 0 OR s.FK_HRDepartmentID = @FK_HRDepartmentID) -- =0 là chia sẻ cho mọi khoa
											AND (s.FK_HREmployeeID = 0 OR s.FK_HREmployeeID = @FK_HREmployeeID) -- =0 là chia sẻ cho mọi nhân viên
										)
					)' + ISNULL(@StateConditions, '') + '
				)
				
				SELECT *
				FROM query
				CROSS APPLY
				(
					SElECT COUNT (*) AS TotalRows FROM query
				)  tmp
				WHERE RowIndex > @Skip
				AND RowIndex <= (@Skip + @Take)
				'

	EXEC sys.sp_executesql @sql
	,N'@MEEmrCreatedDateFrom date, @MEEmrCreatedDateTo date, @FK_HRDepartmentID int, @FK_HREmployeeID int, @MEEmrArchiveStatus int, @ViewPermission varchar(100), @StateConditions NVARCHAR(4000), @Skip int, @Take int'
	,@MEEmrCreatedDateFrom
	,@MEEmrCreatedDateTo
	,@FK_HRDepartmentID
	,@FK_HREmployeeID
	,@MEEmrArchiveStatus
	,@ViewPermission
	,@StateConditions
	,@Skip
	,@Take
END