-- ======================================================================
-- Author: UtHV
-- Release all document, that user keep and take other document
-- Return empty string if take success, otherwise name of the doctor who keep
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrDocuments_TakeEditingPermission] @MEEmrDocumentID INT
	,@FK_EditingUserID INT
AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRANSACTION;

	SAVE TRANSACTION MySavePoint;

	DECLARE @EditingId INT = 0;
	DECLARE @HoldFrom DATETIME;

	BEGIN TRY
		-- release all handled
		UPDATE [dbo].[MEEmrDocuments]
		SET [FK_EditingUserID] = 0
			,[MEEmrDocumentHoldFrom] = NULL
		WHERE [FK_EditingUserID] = @FK_EditingUserID
			AND AAStatus = 'Alive'

		-- take permission
		SELECT @EditingId = FK_EditingUserID
			,@HoldFrom = [MEEmrDocumentHoldFrom]
		FROM [dbo].[MEEmrDocuments]
		WHERE MEEmrDocumentID = @MEEmrDocumentID

		IF @EditingId = 0
			OR @EditingId IS NULL
		BEGIN
			UPDATE [dbo].[MEEmrDocuments]
			SET [FK_EditingUserID] = @FK_EditingUserID
				,[MEEmrDocumentHoldFrom] = GETDATE()
			WHERE MEEmrDocumentID = @MEEmrDocumentID
				AND AAStatus = 'Alive'

			SELECT NULL AS HREmployeeName
		END
		ELSE
		BEGIN
			SELECT CONCAT (
					HREmployeeName
					,N' từ lúc '
					,CONVERT(VARCHAR(5), @HoldFrom, 8)
					,' '
					,CONVERT(VARCHAR, @HoldFrom, 101)
					)
			FROM HREmployees
			WHERE HREmployeeID = @EditingId
		END
	END TRY

	BEGIN CATCH
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION MySavePoint;-- rollback to MySavePoint
		END
	END CATCH

	COMMIT TRANSACTION
END
