USE [CLAS_BHYT]
GO
/****** Object:  StoredProcedure [dbo].[Report_GetReceiptItemShipmentItemTransferItemList]    Script Date: 02/07/2017 08:04:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Tien Nguyen
-- Create date: 18/10/2013
-- Description:	Get receipt item, shipment item, transfer item list
-- =============================================
ALTER PROCEDURE [dbo].[Report_GetReceiptItemShipmentItemTransferItemList]
	
	@DateFrom				datetime		= null,
	@DateTo					datetime		= null,
	@BRBranchID				int				= null,
	@FK_ICStockID			int				= null,
	@FK_ICProductID			int				= null,
	@ShipmentType			varchar(50)		= null,
	@ReceiptType			varchar(50)		= null,
	@IsShipmentType			bit				= null,
	@IsReceiptType			bit				= null
	
AS
BEGIN	
	set nocount on;
	
	with ReceiptShipmentTransferTable
	(
		ICReceiptNo,
		ICReceiptDate,		
		ICReceiptType,
		ICReceiptDesc,	
		ICReceiptStatus,
		ICProductNo,		
		ICProductSupplierNumber,
		ICProductDesc,
		ICProductSerieNo,
		ItemReceiptedQty,
		ItemShippedQty,						
		ICStockName,
		ItemComment
	)
	as
	(
		select	
				r.ICReceiptNo
			,	r.ICReceiptDate
			,	r.ICReceiptTypeCombo as ICReceiptType
			,	r.ICReceiptDesc
			,	(select ADConfigText from ADConfigValues where AAStatus = 'Alive' 
														and ADConfigKeyGroup = 'ReceiptStatus'
														and ADConfigKeyValue = r.ICReceiptStatus) as ICReceiptStatus
			,	p.ICProductNo
			,	p.ICProductSupplierNumber
			,	p.ICProductDesc
			,	ri.ICReceiptItemProductSerialNo as ICProductSerieNo
			,	ri.ICReceiptItemProductQty as ItemReceiptedQty
			,	0 as ItemShippedQty
			,	s.ICStockName
			,	ri.ICReceiptItemComment
		from	ICReceiptItems	ri															inner join
				ICReceipts		r	on ri.FK_ICReceiptID	=	r.ICReceiptID				inner join
				ICProducts		p	on ri.FK_ICProductID	=	p.ICProductID				inner join
				ICStocks		s	on	ri.FK_ICStockID		=	s.ICStockID
		where	ri.AAStatus	=	'Alive'
		and		r.AAStatus	=	'Alive'
		and		p.AAStatus = 'Alive'		
		and		s.AAStatus = 'Alive'
		and		(@IsReceiptType is null or @IsReceiptType = 1)
		and		(@BRBranchID is null or s.FK_BRBranchID = @BRBranchID)
		and		(@FK_ICStockID	is null or ri.FK_ICStockID	=	@FK_ICStockID)	
		and		(@DateFrom is null or datediff(dd, @DateFrom, r.ICReceiptDate) >= 0)
		and		(@DateTo is null or datediff(dd, r.ICReceiptDate, @DateTo) >= 0)
		and		(@FK_ICProductID is null or ri.FK_ICProductID = @FK_ICProductID)
		and		(@ReceiptType is null or r.ICReceiptTypeCombo = @ReceiptType)
		
	Union all
		
		select	s.ICShipmentNo			as	ICReceiptNo
			,	s.ICShipmentDate		as	ICReceiptDate			
			,	s.ICShipmentTypeCombo	as	ICReceiptType
			,	s.ICShipmentDesc		as	ICReceiptDesc
			,	(select ADConfigText from ADConfigValues where AAStatus = 'Alive' 
														and ADConfigKeyGroup = 'ShipmentStatus'
														and ADConfigKeyValue = s.ICShipmentStatus) as ICReceiptStatus
			,	p.ICProductNo
			,	p.ICProductSupplierNumber
			,	p.ICProductDesc
			,	si.ICShipmentItemProductSerialNo as ICProductSerieNo
			,	0 as ItemReceiptedQty
			,	si.ICShipmentItemProductQty			as	ItemShippedQty
			,	stk.ICStockName
			,	si.ICShipmentItemComment
		from	ICShipmentItems	si															inner join
				ICShipments		s	on	si.FK_ICShipmentID	=	s.ICShipmentID				inner join
				ICProducts		p	on	si.FK_ICProductID	=	p.ICProductID				inner join
				ICStocks		stk		on	si.FK_ICStockID = stk.ICStockID
		where	si.AAStatus	=	'Alive'
		and		s.AAStatus	=	'Alive'
		and		p.AAStatus = 'Alive'
		and		stk.AAStatus = 'Alive'
		and		(@IsShipmentType is null or @IsShipmentType = 1)
		and		(s.ICShipmentTypeCombo <> 'EquipmentIncreasing' and s.ICShipmentTypeCombo <> 'EquipmentDecreasing')
		and		(@BRBranchID is null or stk.FK_BRBranchID = @BRBranchID)
		and		(@FK_ICStockID	is null or si.FK_ICStockID	=	@FK_ICStockID)	
		and		(@DateFrom is null or datediff(dd, @DateFrom, s.ICShipmentDate) >= 0)
		and		(@DateTo is null or datediff(dd, s.ICShipmentDate, @DateTo) >= 0)
		and		(@FK_ICProductID is null or si.FK_ICProductID = @FK_ICProductID)
		and		(@ShipmentType is null or s.ICShipmentTypeCombo = @ShipmentType)
	)
	
	select	*
	from	ReceiptShipmentTransferTable	rst
	order by
			rst.ICReceiptDate		
END