ALTER PROCEDURE [dbo].[MEEmrs_GetAllOpeningOutEmr] @FK_MEPatientID INT
AS
BEGIN
	SET NOCOUNT ON

	SELECT e.*
	FROM [dbo].[MEEmrs] e
	INNER JOIN [dbo].[MEEmrTypes] t ON e.FK_MEEmrTypeID = t.MEEmrTypeID
	WHERE [FK_MEPatientID] = @FK_MEPatientID
		AND e.[AAStatus] = 'Alive'
		AND e.[MEEmrTypeProfile] = 'Out'
		AND e.[MEEmrStatus]  <> 'Closed'
		AND t.[AAStatus] = 'Alive'
		-- MEEmrTypeMaxCountPerPatient > 0 da duoc xet o mot case khac
		AND t.MEEmrTypeMaxCountPerPatient <= 0
		AND t.MEEmrTypeIsTmp = 0
END
