CREATE
	OR

ALTER PROCEDURE [dbo].[MEEmrs_GetAllOpeningEmrByType] @FK_MEPatientID INT
	,@FK_MEEmrTypeID INT
AS
BEGIN
	SET NOCOUNT ON

	SELECT *
	FROM [dbo].[MEEmrs]
	WHERE [FK_MEPatientID] = @FK_MEPatientID
		AND [AAStatus] = 'Alive'
		AND [FK_MEEmrTypeID] = @FK_MEEmrTypeID
		AND [MEEmrStatus] <> 'Closed'
END
