USE [db]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		UtHV
-- Create date: 17/01/2020
-- Description:	Get latest history of an object
-- =============================================
CREATE PROCEDURE [dbo].[GEObjectHistory_GetLatestHistoryByObjectNameAndObjectId] @GEObjectHistoryObjectName NVARCHAR(50)
	,@GEObjectHistoryObjectId INT
	,@action NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT TOP 1 oh.*
	FROM [dbo].[GEObjectHistory] oh
	WHERE oh.AAStatus = 'Alive'
		AND oh.GEObjectHistoryAction = @action
		AND oh.GEObjectHistoryObjectName = @GEObjectHistoryObjectName
		AND oh.GEObjectHistoryObjectID = @GEObjectHistoryObjectId
	ORDER BY oh.GEObjectHistoryDate DESC
END
