DELETE
FROM [dbo].[AAColumnAlias]
WHERE AATableName = 'MEEmrDocuments'
	AND AAColumnAliasName = 'MEEmrDocumentPageCount'

INSERT INTO [dbo].[AAColumnAlias]
VALUES (
	(
		SELECT MAX([AAColumnAliasID]) + 1
		FROM [dbo].[AAColumnAlias]
		)
	,0
	,''
	,'Alive'
	,N'MEEmrDocumentPageCount'
	,N'Số trang'
	,'MEEmrDocuments'
	);
GO

DELETE
FROM [dbo].[AAColumnAlias]
WHERE AATableName = 'MEEmrDocuments'
	AND AAColumnAliasName = 'MEEmrDocumentDuplexCount'

INSERT INTO [dbo].[AAColumnAlias]
VALUES (
	(
		SELECT MAX([AAColumnAliasID]) + 1
		FROM [dbo].[AAColumnAlias]
		)
	,0
	,''
	,'Alive'
	,N'MEEmrDocumentDuplexCount'
	,N'Số tờ'
	,'MEEmrDocuments'
	);
GO
