USE [DB]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADSystemConfigs_SelectByGroups] @ADSystemConfigGroups NVARCHAR(1000)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @sql NVARCHAR(4000)

	SET @sql = 'SELECT
		*
	FROM
		[dbo].[ADSystemConfigs]
	WHERE
		[ADSystemConfigGroup] IN (' + @ADSystemConfigGroups + ')
	AND [AAStatus] = ''Alive'''

	EXEC (@sql)
END
