USE [DB]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- ======================================================================
-- UtHV
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrDocumentSigns_GetLastDigitalSignDocx] @MEEmrDocumentID INT
AS
BEGIN
	SET NOCOUNT ON

	SELECT TOP 1 *
	FROM [dbo].[MEEmrDocumentSigns]
	WHERE [FK_MEEmrDocumentID] = @MEEmrDocumentID
		AND [MEEmrDocumentSignFileExt] = 'docx'
		AND [AAStatus] = 'Alive'
		AND [MEEmrDocumentSignType]='DigitalSigned'
	ORDER BY MEEmrDocumentSignTime DESC
END
