DECLARE @MEParamLookupID INT
SET @MEParamLookupID = (select MEParamLookupID from MEParamLookups where MEParamLookupNo = 'snomed_finding' and AAStatus = 'Alive')
UPDATE MEParamLookupDatas 
SET MEParamLookupDataText = CONCAT(UPPER(SUBSTRING(MEParamLookupDataText,1,1)),LOWER(SUBSTRING(MEParamLookupDataText,2,len(MEParamLookupDataText)-1)))
WHERE FK_MEParamLookupID=@MEParamLookupID AND AAStatus = 'Alive'
GO

DECLARE @MEParamLookupID INT
SET @MEParamLookupID = (select MEParamLookupID from MEParamLookups where MEParamLookupNo = 'snomed_finding_2' and AAStatus = 'Alive')
UPDATE MEParamLookupDatas 
SET MEParamLookupDataText = CONCAT(UPPER(SUBSTRING(MEParamLookupDataText,1,1)),LOWER(SUBSTRING(MEParamLookupDataText,2,len(MEParamLookupDataText)-1)))
WHERE FK_MEParamLookupID=@MEParamLookupID AND AAStatus = 'Alive'
GO

DECLARE @MEParamLookupID INT
SET @MEParamLookupID = (select MEParamLookupID from MEParamLookups where MEParamLookupNo = 'snomed_disorder' and AAStatus = 'Alive')
UPDATE MEParamLookupDatas 
SET MEParamLookupDataText = CONCAT(UPPER(SUBSTRING(MEParamLookupDataText,1,1)),LOWER(SUBSTRING(MEParamLookupDataText,2,len(MEParamLookupDataText)-1)))
WHERE FK_MEParamLookupID=@MEParamLookupID AND AAStatus = 'Alive'
GO

DECLARE @MEParamLookupID INT
SET @MEParamLookupID = (select MEParamLookupID from MEParamLookups where MEParamLookupNo = 'snomed_disorder_2' and AAStatus = 'Alive')
UPDATE MEParamLookupDatas 
SET MEParamLookupDataText = CONCAT(UPPER(SUBSTRING(MEParamLookupDataText,1,1)),LOWER(SUBSTRING(MEParamLookupDataText,2,len(MEParamLookupDataText)-1)))
WHERE FK_MEParamLookupID=@MEParamLookupID AND AAStatus = 'Alive'
GO

DECLARE @MEParamLookupID INT
SET @MEParamLookupID = (select MEParamLookupID from MEParamLookups where MEParamLookupNo = 'snomed_disorder_3' and AAStatus = 'Alive')
UPDATE MEParamLookupDatas 
SET MEParamLookupDataText = CONCAT(UPPER(SUBSTRING(MEParamLookupDataText,1,1)),LOWER(SUBSTRING(MEParamLookupDataText,2,len(MEParamLookupDataText)-1)))
WHERE FK_MEParamLookupID=@MEParamLookupID AND AAStatus = 'Alive'
GO

DECLARE @MEParamLookupID INT
SET @MEParamLookupID = (select MEParamLookupID from MEParamLookups where MEParamLookupNo = 'snomed_procedure' and AAStatus = 'Alive')
UPDATE MEParamLookupDatas 
SET MEParamLookupDataText = CONCAT(UPPER(SUBSTRING(MEParamLookupDataText,1,1)),LOWER(SUBSTRING(MEParamLookupDataText,2,len(MEParamLookupDataText)-1)))
WHERE FK_MEParamLookupID=@MEParamLookupID AND AAStatus = 'Alive'
GO