
ALTER PROCEDURE [dbo].[MEEmrs_WithRelation] @MEEmrID INT
AS
BEGIN
	SELECT e.*
		,p.MEPatientNo
		,p.MEPatientName
		,p.MEPatientContactCellPhone
		,e.FK_HRDepartmentID AS FK_HRDepartmentShortID
		,p.MEPatientBirthday
		,re.MEEmrRelationFromName
		,re.MEEmrRelationToName
		,DATEPART(year, p.MEPatientBirthday) AS MEPatientBirthYear
		,'' AS MEEmrArchiveStatus
		,ROW_NUMBER() OVER (
			ORDER BY e.MEEmrID DESC
			) AS RowIndex
	FROM [dbo].[MEEmrs] e
	INNER JOIN [dbo].[MEPatients] p ON e.FK_MEPatientID = p.MEPatientID
	INNER JOIN (
		SELECT FK_MEEmrFromID AS MEEmrID
			,MEEmrRelationFromName as MEEmrRelationToName
			,MEEmrRelationToName as MEEmrRelationFromName
		FROM MEEmrRelations
		WHERE FK_MEEmrToID = @MEEmrID
		
		UNION
		
		SELECT FK_MEEmrToID AS MEEmrID
			,MEEmrRelationFromName
			,MEEmrRelationToName
		FROM MEEmrRelations
		WHERE FK_MEEmrFromID = @MEEmrID
		) re ON re.MEEmrID = e.MEEmrID
	WHERE e.[AAStatus] = 'Alive'
		AND p.[AAStatus] = 'Alive'
END
