USE [db]
GO
/****** Object:  StoredProcedure [dbo].[MEEmrs_ActiveShared]    Script Date: 02/18/2020 4:59:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ======================================================================
-- Created By: UtHV
-- Latest update: 18/02/2020 - Them @StateConditions
-- ======================================================================
ALTER PROCEDURE [dbo].[MEEmrs_ActiveShared] @FK_HRDepartmentID INT
	,@StateConditions NVARCHAR(4000)
AS
BEGIN

	EXEC MEEmrs_ActiveSharedPaging @FK_HRDepartmentID
		,@StateConditions
		,0
		,100000

END
